body {
    padding-top: 60px;
    padding-bottom: 40px;
    overflow-x: hidden;
}

#leftSidebarContainer {
    margin-right: 25px;
}

.imageTile {
    margin: 10px;
}

.searchContainer {
    padding-top: 5px;
    padding-bottom: 5px;
}

.container-no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.loader {
    /*background: url('images/loader.gif') no-repeat;*/
    margin-bottom: 15px;
}

.big-font {
    font-size: 36px;
}

.space {
    margin-left: 20px !important;
}

.big-hashtag {
    font-family: "Giorgio", sans-serif;
    font-size: 10em;
    font-weight: bold;
    line-height: 50px;
    text-transform: uppercase;
    margin: 30px 0 40px 0;
}

@media (max-width: 979px) {
    .big-hashtag {
        font-size: 55px;
        margin: 10px 0 10px 0;
    }
}