body {
    padding-top: 60px;
    padding-bottom: 40px;
}

#leftSidebarContainer {
    margin-right: 25px;
}

.imageTile {
    margin: 10px;
}

.searchContainer {
    padding-top: 5px;
    padding-bottom: 5px;
}

.container-no-padding {
    padding-left: 0 !important;
}