<div class="container-fluid container-no-padding">
    <div class="row-fluid">
        <p class="span12 space big-hashtag" data-bind="text:hashtag"></p>
    </div>
    <!-- ko foreach: $root.instagramFeed() -->
    <div class="span3 imageTile">
        <a data-bind="attr:{href:link}"><img data-bind="attr: {src: image_standard_res}, popover: $data" /></a>            
    </div>
        <!-- /ko -->
    </div>
