<div class="container-fluid container-no-padding">
    <div class="hero-unit">
        <h1 data-bind="text:searchTerm"></h1>
    </div>
    <!-- ko foreach: $root.instagramFeed().data -->
    <div class="span3 imageTile">
        <a data-bind="attr:{href:link}, popover: $data"><img data-bind="attr: {src: images.standard_resolution.url}" /></a>            
    </div>
        <!-- /ko -->
    </div>
