<div class="container-fluid">
    <!-- ko foreach: $root.instagramFeed().data -->
    <div class="span4 imageTile">
        <a data-bind="attr:{href:link}"><img data-bind="attr: {src: images.standard_resolution.url}" /></a>            
    </div>
        <!-- /ko -->
    </div>
