<div class="container-fluid container-no-padding">
    <div class="hero-unit hero-unit-padding">
        <h1 data-bind="text:hashtag"></h1>
    </div>
    <!-- ko foreach: $root.instagramFeed() -->
    <div class="span3 imageTile">
        <a data-bind="attr:{href:link}, popover: $data"><img data-bind="attr: {src: image_standard_res}" /></a>            
    </div>
        <!-- /ko -->
    </div>
