<div class="container-fluid container-no-padding">
    <div class="row-fluid">
        <p class="span12 space" data-bind="text:hashtag"></p>
    </div>
    <!-- ko foreach: $root.instagramFeed() -->
    <div class="span3 imageTile">
        <a data-bind="attr:{href:link}"><img data-bind="attr: {src: image_standard_res}, popover: $data" /></a>            
    </div>
    <!-- /ko -->
    <div class="row-fluid">
        <div class="span12 space">
            <div class="well">
            <span>Recent searches: </span>
            <!-- ko foreach: $root.recentSearches -->
            <span class="badge badge-info" data-bind="text:$data"></span>
                <!-- /ko -->
            </div>
        </div>
    </div>
    </div>
